body{
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

.QR_body{
    width: 240px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 10px 20px hsl(0, 0%, 60%);
}


.QR_body img {
    width: 100%;
    border-radius: 10px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h3 {
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: 700;
    
}

P {
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 15px;
    color: hsl(0, 0%, 50%);
    font-weight: 400;
}


